.landing-poems-heading {
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  background-color: #1a2639;
  flex-direction: column;
}
.landing-poems-heading h1 {
  text-align: center;
}

.landing-poems {
  background-color: #1a2639;
}

.fav-sort {
  display: flex;
  justify-content: space-between;
}

.favList {
  font-size: medium;
  background-color: #1a2639;
  color: #ffffff;
  padding: 10px;
  width: 300px;
  height: 30vh;
  margin-left: 25px;
  border-radius: 2%;
}

.favList h2 {
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  margin: 4px 0;
}

.fav-list-poems {
  font-size: medium;
  padding: 0 2px;
  border: 1px solid black;
  border-radius: 2%;
  background-color: #d9dad7;
  color: #1a2639;
  width: 100%;
  height: 25vh;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
}
/* width */
.fav-list-poems::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.fav-list-poems::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.fav-list-poems::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.fav-list-poems::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.fav-and-poems {
  display: flex;
  color: white;
  margin: 15px;
}

.fav-link {
  text-decoration: none;
  color: #1a2639;
}

.fav-link:hover {
  text-decoration: underline;
  color: green;
}

.landingPage {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  /* padding: 5px; */
  /* border: 1px solid red; */
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-content-description {
  background-color: #d9dad7;
  color: #1a2639;
  width: 300px;
  height: 250px;
  padding: 10px;
  box-shadow: 2px 2px 15px rgb(197, 195, 195);
  margin: 10px;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content-description:hover {
  background: linear-gradient(150deg, #5dacbd, #24527a 100%);
  color: white;
}

.card-content {
  margin: 15px;
  text-align: center;
  overflow: auto;
}

.card-content-description h5 {
  font-size: 15px;
}

.card-values {
  font-size: 18px;
}

.card-description {
  /* border: 1px solid yellow; */
  margin: 5px 0;
}

.view-more {
  /* margin: 0; */
  text-transform: uppercase;
  margin: 10px auto;
  width: 150px;
  display: block;
  color: #1a2639;
  border-radius: 50px;
  padding: 1em;
  background: white;
  border: none;
  font-weight: bold;
  margin-top: 10px;
}

.view-more:hover {
  background-color: #93e4c1; /* Green */
}

.landing-page-back-button {
  /* border: 1px solid grey; */
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  background-color: #1a2639;
}

.landing-back-button:hover {
  background-color: #93e4c1; /* Green */
  color: #1a2639;
}

.landing-back-button {
  text-transform: uppercase;
  margin: 10px auto;
  width: 150px;
  display: block;
  color: #1a2639;
  border-radius: 50px;
  padding: 1em;
  background: white;
  border: none;
  font-weight: bold;
}

.hr-line {
  width: 70%;
}

.sort-label {
  font-size: 24px;
  margin-right: 10px;
}

.sort-element {
  margin: 25px;
  float: right;
}
.sort-element select {
  width: 100px;
  height: 40px;
}
